<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template1">
<head>
<meta charset="UTF-8">
<title>Connexion</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container col-md-4 col-md-offset-3 spacer40">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Authentification</h4>
				</div>
				<div class="panel-body">
					<div th:if="${param.error}">
						<h5  class="red">Incorrect username or password.</h5>
					</div>
					<div th:if="${param.logout}">
						<h5  class="red">Vous avez été déconnecté(e).</h5>
					</div>
					<form th:action="@{/login}" method="post">
						<div class="form-group">
							<label class="control-label" for="username">Username :</label> 
							<input class="form-control" type="text" name="username" id="username" />
						</div>
						<div class="form-group">
							<label class="control-label" for="password">Password :</label> 
							<input class="form-control" type="password" name="password" id="password" />
						</div>
						<button type="submit" class="btn btn-success">Login</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>